/**
 *  Spacing
================================================= */

// Margins

$bottom-margin-desktop : 40;
$bottom-margin-mobile  : 20;
$bottom-spacer : 20px;



// Component Content Padding

$content-vertical-padding-desktop 	 : 100;
$content-vertical-padding-mobile  	 : 20;

$content-horizontal-padding-desktop  : 60;
$content-horizontal-padding-mobile	 : 20;




// Intro Row Padding

$intro-vertical-padding-desktop 	 : 100;
$intro-vertical-padding-mobile		 : 20;

$intro-horizontal-padding-desktop	:	40;
$intro-horizontal-padding-mobile	:	20;



// Construction Border - Disable when done

$construction-border 	:	1px solid $light-grey;