/*
 |----------------------------------------------------------------
 |  Headings
 |----------------------------------------------------------------
 */

@mixin header() {
font-family: open-sans,sans-serif;
font-weight: 700;
font-style: normal;
}

@mixin copy() {
  font-family: open-sans,sans-serif;
font-weight: 400;
font-style: normal;
}


 h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0;
    padding-bottom: 25px;
    font-weight: $normal;
    color: inherit;

    a {
        color: inherit;
        text-decoration: none;
    }

    p + &,
    ul:not([class]) + &,
    ol:not([class]) + & {
        padding-top: 25px;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding-bottom: 20px;
    color: inherit;

    a {
        color: inherit;
        text-decoration: none;
    }

    p + &,
    ul:not([class]) + &,
    ol:not([class]) + & {
        padding-top: 20px;
    }
}

h1 {
    @include font-size(52, 34);
    @include fluid-prop(line-height,72, 40);
    padding-bottom:20px;
    @include header();
    font-weight: bold;

}

h2 {
    @include font-size(42, 28);
    @include fluid-prop(line-height, 52, 33);
    @include copy();
    font-weight: 600;
}

h3 {
    @include font-size(28, 24);
    @include fluid-prop(line-height, 38, 32);
    @include header();
    color:$black;
    font-weight: 600;
    padding-bottom:10px;

}

h4 {
    @include font-size(22, 18);
    @include fluid-prop(line-height, 29, 22);
    @include header();
    letter-spacing: 1.25px;
}

h5 {
    @include font-size(18, 16);
    @include fluid-prop(line-height, 22, 20);
}

h6 {
    @include font-size(13);
    @include header();
    @include fluid-prop(line-height, 18, 15);
    text-transform: uppercase;
 
    font-weight: bold;
    letter-spacing: 1.78px;
    text-transform: uppercase;
    padding-bottom:10px;
}

/*
 |----------------------------------------------------------------
 |  Paragraph
 |----------------------------------------------------------------
 */
 p {
    @include copy();
    @include font-size(16, 15);
    @include fluid-prop(line-height, 29, 20);
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    color:$grey;
  &:empty {
        display: none;
    }
}

/*
 |----------------------------------------------------------------
 |  Horizontal Line
 |----------------------------------------------------------------
 */
 hr {
    border: none;
    border-bottom: 1px solid $highlight;
    width: 90%;
    margin: 10px auto 35px;
}

/*
 |----------------------------------------------------------------
 |  MISC
 |----------------------------------------------------------------
 */
 i, em {
    font-style: italic;
}

b, strong {
    font-weight: $bold;
}

/*
 |----------------------------------------------------------------
 | Address
 |----------------------------------------------------------------
 */
 address {
    font-style: normal;
}

/*
 |----------------------------------------------------------------
 | Code
 |----------------------------------------------------------------
 */
 code, pre {
    background-color: $light-grey;
    font-family: "Consolas", monospace;
    @include font-size(14);
}

pre {
    padding: 25px 20px;
}

code {
    border-radius: 3px;
    vertical-align: middle;
    //white-space: nowrap;
    padding: 2px 5px;
}
