.single-post {
	.blog_footer_callout {
		margin-bottom:0px;
	}



    .social-list,
    .social-share {
        display: flex;
        align-items: flex-end;

        h6 {
        	color:$maintext;
        }
    }

    .social-share {
        .subtitle {
            padding-bottom: 0;
            margin-right: 15px;
        }
    }

    .social-list {
        @include list-reset;

        li {
            margin-right: 10px;
            position: relative;
            top: 9px;

            i,
            a {
                color: $highlight;
                font-size: 27px;
            }
        }
    }
    .blog-post-wrapper,.single-post-content {
        margin-bottom:$spacer;
    }

    .strukture-wrapper {
        .social-share {
            .social-list {
                margin:0px !important;
            }
        }
    }

}


.single-page-banner {
    margin-bottom:60px;
    .content-container {
        background:$white;
        padding:60px;
        position: relative;
        top:100px;

        .terms-container {        
            width:fit-content;
            padding:15px 20px 15px;
            background:$highlight;
            margin-bottom:20px;


            h6 {
                width:fit-content;
                 color:$white!important;
            }
        }
        h1 {
            color:$black !important;
        }
        .post-meta {
            p {
                color:$highlight !important;
                font-weight: bold;
                padding:0px;
                margin-bottom:20px;
            }
        }
        .social-list {
            margin:0px !important;
            li {
                position: unset;
               
            }
        }
        .social-share {
             align-items: center;
            h6 {
                color:$black !important;
                text-transform: uppercase;
                font-size:16px;
                font-weight:bold;        
                
            }
        }
        .banner-content-box {
            color:$black;
        }

        @media #{$below-tablet} { 

            .terms-container {
                margin:0 auto;
                margin-bottom:20px;
            }
        }
    }
}

.single-post {
    .blue-blog-bg {
        background:$lightest-blue;
         padding-top:60px;
    }
    .blog-post-wrapper {
        margin-bottom:0px;

        padding-bottom:60px;
    }
}